<header>
    <div class="container">
        {% load static %}
        <h1 class="title">Давай зачетку!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
            </ul>
        </nav>
        <p>Синергия, МТИ, МТИ, МосАП</p>
        <hr>
        <p>Тесты, практики, дипломные</p>
        <p>Я не один, мы - команда. С опытом работы более 5-ти лет.</p>
    </div>
</header>
